.RoomTile {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    margin-bottom: .5rem;
    padding: 1rem 1rem;
}

.RoomAvatar {
    width: 48px; 
    height: 48px;
    border-radius: 50%;
    background: #FB9CCB;
}
.RoomDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}